/* Source: https://github.com/xz/new.css */
:root {
	--nc-font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--nc-font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono",
		"Courier New", Courier, monospace;
	--nc-tx-1: #000000;
	--nc-tx-2: #1a1a1a;
	--nc-bg-1: #ffffff;
	--nc-bg-2: #f6f8fa;
	--nc-bg-3: #e5e7eb;
	--nc-lk-1: #0070f3;
	--nc-lk-2: #0366d6;
	--nc-lk-tx: #ffffff;
	--nc-ac-1: #79ffe1;
	--nc-ac-tx: #0c4047;
}
@media (prefers-color-scheme: dark) {
	:root {
		--nc-tx-1: #ffffff;
		--nc-tx-2: #eeeeee;
		--nc-bg-1: #000000;
		--nc-bg-2: #111111;
		--nc-bg-3: #222222;
		--nc-lk-1: #3291ff;
		--nc-lk-2: #0070f3;
		--nc-lk-tx: #ffffff;
		--nc-ac-1: #7928ca;
		--nc-ac-tx: #ffffff;
	}
}
* {
	margin: 0;
	padding: 0;
}
address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
iframe,
img,
input,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
	margin-bottom: 1rem;
}
button,
html,
input,
select {
	font-family: var(--nc-font-sans);
}
body {
	margin: 0 auto;
	max-width: 750px;
	padding: 2rem;
	border-radius: 6px;
	overflow-x: hidden;
	word-break: break-word;
	overflow-wrap: break-word;
	background: var(--nc-bg-1);
	color: var(--nc-tx-2);
	font-size: 1.03rem;
	line-height: 1.5;
}
::selection {
	background: var(--nc-ac-1);
	color: var(--nc-ac-tx);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	color: var(--nc-tx-1);
	padding-top: 0.875rem;
}
h1,
h2,
h3 {
	color: var(--nc-tx-1);
	padding-bottom: 2px;
	margin-bottom: 8px;
}
h4,
h5,
h6 {
	margin-bottom: 0.3rem;
}
h1 {
	font-size: 2.25rem;
	text-align: center;
}
h2 {
	font-size: 1.85rem;
	text-align: center;
}
h3 {
	font-size: 1.55rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.875rem;
}
a {
	color: var(--nc-lk-1);
}
a:hover {
	color: var(--nc-lk-2);
}
abbr:hover {
	cursor: help;
}
blockquote {
	padding: 1.5rem;
	background: var(--nc-bg-2);
	border-left: 5px solid var(--nc-bg-3);
}
abbr {
	cursor: help;
}
blockquote :last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}
header {
	background: var(--nc-bg-2);
	border-bottom: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;
	margin: -2rem calc(0px - (50vw - 50%)) 2rem;
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}
header h1,
header h2,
header h3 {
	padding-bottom: 0;
	border-bottom: 0;
}
header > :first-child {
	margin-top: 0;
	padding-top: 0;
}
header > :last-child {
	margin-bottom: 0;
}
a button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--nc-lk-1);
	color: var(--nc-lk-tx);
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	color: var(--nc-lk-tx);
}
a button[disabled],
button[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled] {
	cursor: default;
	opacity: 0.5;
	cursor: not-allowed;
}
.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
	background: var(--nc-lk-2);
}
code,
kbd,
pre,
samp {
	font-family: var(--nc-font-mono);
}
code,
kbd,
pre,
samp {
	background: var(--nc-bg-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
	padding: 3px 6px;
	font-size: 0.9rem;
}
kbd {
	border-bottom: 3px solid var(--nc-bg-3);
}
pre {
	padding: 1rem 1.4rem;
	max-width: 100%;
	overflow: auto;
}
pre code {
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}
code pre {
	display: inline;
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}
details {
	padding: 0.6rem 1rem;
	background: var(--nc-bg-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
}
summary {
	cursor: pointer;
	font-weight: 700;
}
details[open] {
	padding-bottom: 0.75rem;
}
details[open] summary {
	margin-bottom: 6px;
}
details[open] > :last-child {
	margin-bottom: 0;
}
dt {
	font-weight: 700;
}
dd::before {
	content: "→ ";
}
hr {
	border: 0;
	border-bottom: 1px solid var(--nc-bg-3);
	margin: 1rem auto;
}
fieldset {
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
}
legend {
	padding: auto 0.5rem;
}
table {
	border-collapse: collapse;
	width: 100%;
}
td,
th {
	border: 1px solid var(--nc-bg-3);
	text-align: left;
	padding: 0.5rem;
}
th {
	background: var(--nc-bg-2);
}
tr:nth-child(even) {
	background: var(--nc-bg-2);
}
table caption {
	font-weight: 700;
	margin-bottom: 0.5rem;
}
textarea {
	max-width: 100%;
}
ol,
ul {
	padding-left: 2rem;
}
li {
	margin-top: 0.4rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0;
}
mark {
	padding: 3px 6px;
	background: var(--nc-ac-1);
	color: var(--nc-ac-tx);
}
input,
select,
textarea {
	padding: 6px 12px;
	margin-bottom: 0.5rem;
	background: var(--nc-bg-2);
	color: var(--nc-tx-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	margin: auto;
}
.info {
	color: var(--nc-lk-2);
	border: 1px solid var(--nc-lk-2);
	padding: 10px 15px;
	padding-top: 1.5rem;
	border-radius: 15px;
	margin: 1rem 0;
}
.danger {
	color: #b94a48;
	border: 1px solid #b94a48;
	padding: 10px 15px;
	padding-top: 1.5rem;
	border-radius: 15px;
	margin: 1rem 0;
}
.success {
	color: #018739;
	border: 1px solid #018739;
	padding: 10px 15px;
	padding-top: 1.5rem;
	border-radius: 15px;
	margin: 1rem 0;
}
@media (prefers-color-scheme: dark) {
	.info,
	.danger,
	.success {
		background-color: var(--nc-bg-2);
	}
}
#footnotes {
	margin-top: 3rem;
}
a.footnote-back {
	margin-left: 1em;
	opacity: 0.7;
}
figcaption {
	text-align: center;
	margin-top: -6rem;
	display: none;
	position: absolute;
	margin-left: 1em;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}
figure:hover figcaption {
	display: block;
}
h2,
h3 {
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	padding-bottom: 0.6em;
	border-bottom: 1px solid #9998;
}
h3 {
	border-color: var(--nc-bg-3);
}
h4,
h5,
h6 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.general-toc {
	background-color: var(--nc-bg-2);
    padding: 20px;
    margin: 1em;
}

@media screen and (min-width: 800px) {
	.general-toc {
		margin: 3em;
	}
}